/*
!/Src/
!/Src/*
!/Inc/
!/Inc/*
!*.ioc
!.gitignore
!*.bat
!/TraceRecorder/
!/TraceRecorder/*
!/TraceRecorder/config/
!/TraceRecorder/config/*
!/TraceRecorder/include/
!/TraceRecorder/include/*
!/streamports/
!/streamports/*

